.applyButton{
    margin: 20px auto ;
}
.applyButton button{
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    background-color: yellow;
}
.applyButton button:hover{
    cursor: pointer;
    background-color: rgb(226, 226, 113);
}