.monthYear{
    margin: 5px auto 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.monthYear h2{
    display: inline-block;
    width: 85%;
    font-size: 22px;
}
.monthYear img{
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.selectDay{
    padding: 5px 10px;
}
table{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
}
table tr{
    height: 50px;
}
.nameOfDay tr td{
    width: 14.28%;
}
.selectDate tr td{
    background-color: #444444;
}
.selectDate table tr td:hover{
    background-color: #555555;
}
/**************************/

.selectTime{
    display: flex;
    padding: 0px 10px;
    margin: 30px 0px;
}
.selectTimeContent{
    width: 60%;
    margin: auto;
    text-align: left;
    font-size: 24px;
}
.selectTimeInput{
    width: 40%;
    text-align: right;
}
.selectTimeInput input{
    width: 50px;
    height: 50px;
    background-color: #444444;
    border: none;
    color: white;
    font-size: 22px;
    text-align: center;
}
.selectTimeInput input:focus{
    outline: none;
}
.selectTimeContent span{
    color: #dddddd;
}
.selectTimeInput .secondsDots{
    margin: 0px 3px;
    font-size: 22px;
}
.applyButton{
    margin: 20px auto ;
}
.applyButton button{
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    background-color: yellow;
}
.applyButton button:hover{
    cursor: pointer;
    background-color: rgb(226, 226, 113);
}