.monthYear{
    margin: 5px auto 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.monthYear h2{
    display: inline-block;
    width: 85%;
    font-size: 22px;
}
.monthYear img{
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.selectDay{
    padding: 5px 10px;
}
table{
    width: 100%;
    font-size: 22px;
    font-weight: 500;
}
table tr{
    height: 50px;
}
.nameOfDay tr td{
    width: 14.28%;
}
.selectDate tr td{
    background-color: #444444;
}
.selectDate table tr td:hover{
    background-color: #555555;
    
}